<div class="flex flex-col main-content">
  <summeet-title-overlay [title]="'Program'" class="animation-from-top"></summeet-title-overlay>

  <div class="flex justify-center items-center text-center">
    <summeet-title-overlay [title]="'pripravujeme'" class="animation-from-top"></summeet-title-overlay>
  </div>
  <!-- <div *ngIf="isAuthed; else notAuthed">
    <div class="flex flex-row justify-center items-center">
      <div class="flex flex-col w-[60%] gap-[40px] lt-md:w-[90%]">
        <div class="publitas-container">
        </div>
      </div>
    </div>
  </div>
  <ng-template #notAuthed>
    <p class="text-center">Ľutujeme, ale táto časť webovej stránky je prístupná len registrovaným osobám. Pre
      zobrazenie obsahu je potrebné prihlásiť sa.</p>
  </ng-template> -->
</div>
