.overlay {
  position: absolute;
  z-index: 100;
  font-size: 20px;
  color: #5c5c5c;
  margin-top: 40px;
}

.reset-password-background {
  font-size: 130px;
  font-weight: bold;
  color: var(--light-background-color);
  margin-top: 30px;
}

.reset-password-text-color {
  color: var(--secondary-color);
}

.reset-password-form {
  width: 100%;
}

.reset-password-mat-card {
  width: 100%;
}
