.partners-main-box {
  p {
    text-align: justify;
  }
}

.partners-title {
  color: var(--primary-color);
}

.partners-subtitle {
  color: var(--secondary-color);
  text-align: center;
}

.partners-logo-container {
  margin: 0 !important;
}

.partners-temp-title {
  text-align: center;
}
