<div class="app-background">
  <div class="flex flex-col justify-center items-center not-found-main-box gap-[16px] my-[32px]">
    <span class="not-found-text-span">Oops... Na telefóne nie je možné zobraziť profilovú stránku.</span>
    <span>Skúste pomocou tlačidla nižšie prejsť na hlavnú stránku webu</span>
    <button mat-raised-button color="accent" class="not-found-button" routerLink="/general">
      <div class="flex justify-center items-center">
        <span>Späť na domovskú stránku</span>
      </div>
    </button>
  </div>
</div>
