<div class="flex flex-col justify-center items-center gap-[16px] w-[80%] mt-[50px] ml-[125px]">
  <h2 class="font-bold mb-0 animation-from-top">Zrušiť účet</h2>
  <p class="text-xs text-center m-0 mb-[32px] max-w-[700px] animation-from-top">
    Zrušenie účtu je nenávratné a má za následok odstránenie vašej histórie účasti na podujatiach, vrátane všetkých
    potvrdení a dokumentov priradených k tomuto účtu.
  </p>
  <button disabled="" color="primary" mat-flat-button (click)="onCancel()" class="!rounded animation-from-top">
    <span>Zrušiť účet</span>
  </button>
</div>
