# Ignore node_modules directory
node_modules/
**/node_modules/

# Ignore ESLint configuration file
.eslintrc.js

# Ignore dist (build output)
dist/

# Ignore environments directory
**/environments/

# Ignore Compodoc documentation
compodoc/

# Ignore git-related files
.gitignore

# Ignore Prettier configuration files
.prettierrc
.prettierignore

# Ignore Karma configuration
karma.conf.js

# Ignore Angular workspace configuration
angular.json

# Ignore Tailwind CSS configuration
tailwind.config.js
