# Ignore node_modules directory
node_modules/

# Ignore dist (build output)
dist/

# Ignore all coverage output
coverage/

# Ignore package-lock and yarn.lock files
package-lock.json
yarn.lock

# Ignore compiled JavaScript and TypeScript files
*.js
*.d.ts
