.event-update-change-admin-big-icon {
  color: var(--primary-color);
  width: 60px !important;
  height: 60px !important;
}

.event-update-change-admin-mat-card:hover {
  cursor: pointer;
  box-shadow: 0 0 0 0.2rem transparentize(#31405f, 0.5);
}
