<div class="flex flex-col justify-center items-center gap-[16px] w-[80%] mt-[50px] ml-[125px]">
  <h2 class="font-bold mb-0 animation-from-top">Zmeniť heslo</h2>
  <form [formGroup]="passwordForm" class="flex flex-col gap-[16px] w-full max-w-[700px] animation-from-top">
    <div class="flex flex-col gap-[8px] w-full">
      <mat-form-field appearance="outline" class="max-w-full">
        <mat-label>Aktuálne heslo</mat-label>
        <input matInput type="password" formControlName="oldPassword" [type]="hideOldPassword ? 'password' : 'text'"
          required="true" />
        <mat-icon matSuffix (click)="hideOldPassword = !hideOldPassword">
          {{ hideOldPassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error *ngIf="passwordForm.controls['oldPassword'].errors?.['required']">
          Aktuálne heslo je povinné
        </mat-error>
      </mat-form-field>
      <div class="flex flex-row gap-[16px]">
        <mat-form-field class="max-w-full">
          <mat-label>Heslo</mat-label>
          <input formControlName="newPassword" autocomplete="new-password" matInput
            [type]="hidePassword ? 'password' : 'text'" required="true" />
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <mat-error *ngIf="passwordForm.controls['newPassword'].errors?.['required']">Nie je zadané heslo
          </mat-error>
          <mat-error *ngIf="passwordForm.controls['newPassword'].errors?.['pattern']">
            Heslo musí byť dlhé aspoň 6 znakov a musí obsahovať aspoň 1 veľké, 1 malé písmeno a 1 číslicu
          </mat-error>
        </mat-form-field>
        <mat-form-field class="reset-password-form">
          <mat-label for="reg-password-confirm">Potvrdenie nového hesla</mat-label>
          <input matInput formControlName="newPasswordConfirm" type="password" id="reg-password-confirm"
            [type]="hideConfirmPassword ? 'password' : 'text'" />
          <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{
            hideConfirmPassword ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          <mat-error *ngIf="passwordForm.controls['newPasswordConfirm'].errors?.['required']">
            Nie je zadané potvrdenie hesla
          </mat-error>
          <mat-error *ngIf="passwordForm.controls['newPasswordConfirm'].errors?.['notEqual']">
            Heslá sa nezhodujú
          </mat-error>
        </mat-form-field>
      </div>
      <div class="flex justify-center items-center">
        <button color="primary" mat-flat-button (click)="onSubmit()" class="!rounded">
          <mat-icon svgIcon="floppy-disk" class="!w-[20px] !h-[20px]"></mat-icon>
          <span>Uložiť</span>
        </button>
      </div>
    </div>
  </form>
</div>
