<div class="new-password-main-box">
  <summeet-title-overlay [title]="'Obnoviť heslo'" class="animation-from-top"></summeet-title-overlay>
  <div class="new-password-box">
    <mat-card class="p-[24px] w-full">
      <mat-card-title class="text-xl mb-2">Zabudli ste heslo?</mat-card-title>
      <mat-card-subtitle class="text-sm text-gray-600 mb-4 !font-normal">
        Zmeňte si heslo dvoma jednoduchými krokmi. Tento spôsob uchová Vaše heslo v bezpečí
      </mat-card-subtitle>
      <mat-card-content>
        <ol class="flex flex-col gap-[12px] mb-6 text-sm">
          <li class="flex items-center gap-2">
            <span class="font-medium">1.</span>
            Zadajte svoju e-mailovú adresu.
          </li>
          <li class="flex items-center gap-2">
            <span class="font-medium">2.</span>
            Pošleme vám e-mail s inštrukciami na obnovenie hesla.
          </li>
        </ol>
        <form #formDirective="ngForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-[16px]">
          <mat-form-field appearance="outline" class="max-w-full">
            <mat-label>E-mailová adresa</mat-label>
            <input [formControl]="emailControl" matInput type="email" autocomplete="email" />
            <mat-icon matSuffix class="text-gray-500">mail</mat-icon>
            <mat-error *ngIf="emailControl.errors?.['required']">Nie je zadaný e-mail</mat-error>
          </mat-form-field>
          <div class="flex flex-row justify-start">
            <button mat-raised-button [ngClass]="{'new-password-button': emailControl.valid}"
              [disabled]="emailControl.invalid" type="submit" color="accent" class="!rounded px-6 py-2">
              Obnoviť heslo
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>