.new-password-main-box {
  // background-color: var(--light-background-color);
  height: 93vh;

  ol {
    list-style: none;
  }
}

.new-password-box {
  padding-left: 20%;
  width: 60%;
}

.new-password-button {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
