.faq-span-p {
  p {
    text-align: justify;
    margin: 0;
  }
  span {
    text-align: justify;
  }
}

.faq-subtitle {
  margin-bottom: 0px;
  margin-top: 0px;
  color: var(--secondary-color);
  font-size: 20px;
}

.faq-p {
  margin: 0;
  font-size: 14px;
}

.faq-div-p {
  p {
    text-align: justify;
    margin-bottom: 16px;
    font-size: 14px;
  }
  p:last-child {
    text-align: justify;
    margin-bottom: 0;
  }
}

.faq-active-button {
  a {
    color: #0000ee;
    text-decoration: underline;
    cursor: pointer;
  }
}

.faq-table {
  table {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
  }

  td {
    text-align: left;
    padding: 8px;
  }
  th {
    text-align: left;
    padding: 8px;
    color: var(--white-color);
    font-weight: 600;
  }

  td:not(:first-child),
  th:not(:first-child) {
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }

  th:not(:first-child) {
    background-color: var(--primary-color);
    width: 20%;
  }
}

.faq-list {
  list-style: none;
  margin-top: 0px;
}

.faq-image {
  max-height: 90px;
  max-width: 90%;
}

.hematolife-image {
  width: 80px;
  margin-bottom: -130px;
  margin-top: -110px;
}

@media (max-width: 1300px) {
  .hematolife-image {
    width: 70px;
  }
}

@media (max-width: 960px) {
  .faq-image {
    max-height: 60px;
  }

  .hematolife-image {
    width: 90px;
    margin-bottom: -95px;
    margin-top: -85px;
  }

  // .hematolife-text {
  //   margin-top: 90px;
  // }
}
