.mobile-navbar-container {
  padding: 5px 10px;
  height: max-content;
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 100%;
}

.mobile-navbar-icon {
  color: var(--white-color);
}

:host {
  .material-icons {
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &.animate {
      transform: rotate(180deg);
    }
  }
}
