<div class="flex flex-col main-content">
  <summeet-title-overlay [title]="'Prihlásiť sa do účtu'" class="animation-from-top"></summeet-title-overlay>
  <p class="text-xs text-center m-0 animation-from-top">Zadajte email a heslo k svojmu vytvorenému účtu.</p>
  <div class="flex flex-row justify-center items-center mt-[32px]">
    <div class="flex flex-row justify-center items-center w-[60%] lt-md:flex-col lt-md:w-[90%]">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full max-w-[700px] animation-from-top">
        <div class="flex flex-col justify-center items-center gap-[20px]">
          <div class="flex flex-col w-[70%] justify-center items-center gap-[6px]">
            <mat-form-field class="flex max-w-full !text-sm">
              <mat-label>Email</mat-label>
              <input autocomplete="email" formControlName="email" matInput required="true" />
              <mat-error class="text-[10px]" *ngIf="loginForm.controls['email'].errors?.['required']">Email je povinný
                údaj
              </mat-error>
              <mat-error class="text-[10px]" *ngIf="loginForm.controls['email'].errors?.['incorrectEmail']">
                E-mail nemá platný formát
              </mat-error>
            </mat-form-field>
            <mat-form-field class="flex max-w-full !text-sm">
              <mat-label>Heslo </mat-label>
              <input autocomplete="new-password" formControlName="password" matInput
                [type]="hidePassword ? 'password' : 'text'" />
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
                hidePassword ? 'visibility_off' : 'visibility'
                }}</mat-icon>
              <mat-error class="text-[10px]" *ngIf="loginForm.controls['password'].errors?.['required']">Heslo je
                povinné
                pole</mat-error>
            </mat-form-field>
          </div>

          <div class="flex flec-row justify-between w-[100%] animation-from-left">
            <div>
              <button mat-stroked-button type="button" routerLink="/auth/nove-heslo"
                class="login-forgot-password-button !rounded">Zmeniť heslo</button>
            </div>
            <div matTooltip="Formulár obsahuje chyby" [matTooltipDisabled]="loginForm.valid"
              [ngClass]="{'opacity-30': !loginForm.valid}">
              <button mat-flat-button type="submit" class="!rounded" [disabled]="!loginForm.valid">
                <span>Prihlásiť</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>