.login-card {
  padding: 40px 16px;
}

.login-forgot-password-button {
  color: var(--forgot-password-text);
  font-weight: 400 !important;
}

.login-button {
  background-color: var(--secondary-color);
  color: var(--white-color);
}
