.event-update-files-big-icon {
  color: var(--primary-color);
  width: 60px !important;
  height: 60px !important;
}

.event-update-files-table {
  th {
    background-color: var(--secondary-color) !important;
    font-size: 12px;

    span {
      color: var(--white-color);

      mat-icon {
        color: var(--white-color);
      }
    }
  }

  td {
    font-size: 12px;
  }

  .mat-mdc-cell {
    border-bottom-style: none !important;
  }
}

.event-update-files-table tr:nth-child(even) {
  background-color: var(--secondary-color-10);
}

.event-update-files-mat-card:hover {
  cursor: pointer;
  box-shadow: 0 0 0 0.2rem transparentize(#31405f, 0.5);
}

.mat-column-actions {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 10%;
}

.mat-column-name {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
