<div mat-dialog-content class="flex flex-row participate-dialog-text-box">
  <div class="flex justify-start items-start">
    <mat-icon color="primary" class="ng-icons">warning</mat-icon>
  </div>
  <div class="flex flex-col participate-dialog-inner-text-box">
    <h2 class="participate-dialog-warning-text">Upozornenie</h2>
    <p><b>Ak ste sa registrovali online</b> na podujatie Košické hematologické a transfúziologické dni | 8. ročník,
      uskutočnené dňa
      20. - 22. októbra 2022, Hotel DoubleTree by Hilton Košice, máte v našom systéme vytvorené konto. Pre dokončenie
      registrácie na podujatie Mladí hematológovia <b>sa prihláste do tohto konta</b> pod vašimi prihlasovacími údajmi.
      <b>To neplatí
        pre zástupcov partnera.</b>
    </p>
  </div>
</div>
<div class="flex justify-end items-end" mat-dialog-actions>
  <button (click)="onClose()" mat-raised-button color="accent" mat-dialog-close>Rozumiem!</button>
</div>