.participate-dialog-text-box {
  margin-top: 16px;
  margin-bottom: 16px;
}

.participate-dialog-inner-text-box {
  margin-left: 30px;
}

.participate-dialog-warning-text {
  margin-bottom: 0px;
  margin-top: 0px;
  color: var(--primary-color);
}
