.event-detail-accommodation-date {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.event-detail-accommodation-price {
  background-color: var(--navbar-color);
  color: var(--white-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
