<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="flex flex-row justify-evenly lt-md:flex-col lt-md:gap-[30px] footer-container">
  <div class="flex flex-col justify-center items-center">
    <a (click)="openWebsite()"><img
        src="https://summeet-bucket.fra1.cdn.digitaloceanspaces.com/mladi-hematologovia/public/summeet-logo.png"
        class="footer-image" alt="summeet-logo" /></a>
    <span class="footer-copyright">Autorské práva vyhradené © SUMMEET s. r. o.</span>
  </div>
  <div class="flex flex-col justify-center items-center gap-[20px]">
    <div class="flex flex-row">
      <div class="flex justify-center items-center">
        <a href="tel:+421951035805" target="_blank"><mat-icon class="footer-icon">call</mat-icon></a>
      </div>
      <div class="flex justify-center items-center">
        <a href="mailto:office@summeet.sk" target="_blank"><mat-icon class="footer-icon">mail</mat-icon></a>
      </div>
      <div class="flex justify-center items-center">
        <a href="https://www.instagram.com/summeet.sk/" target="_blank"><mat-icon class="footer-instagram-icon"
            svgIcon="instagram"></mat-icon></a>
      </div>
    </div>
    <div class="flex flex-row justify-evenly items-start">
      <div class="flex justify-center items-center w-[45%] footer-icon-box">
        <a class="footer-icon-box" href="https://www.summeet.sk/ochrana-osobnych-udajov/" target="_blank"
          class="footer-link">
          Ochrana osobných údajov
        </a>
      </div>
      <div class="flex justify-center items-center w-[45%] footer-icon-box">
        <a class="footer-icon-box" href="https://www.summeet.sk/pravne-informacie/" target="_blank" class="footer-link">
          Právne informácie
        </a>
      </div>
    </div>
  </div>
</div>
