.ordered-services-custom-table-healthcare-color {
  color: var(--secondary-color);
}

.ordered-services-custom-table-healthcare-bg-color {
  background-color: var(--secondary-color);
  color: var(--white-color);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 5px;
}

.ordered-services-custom-table-subject-color {
  color: var(--primary-color);
}

.ordered-services-custom-table-subject-bg-color {
  background-color: var(--primary-color);
  color: var(--white-color);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 5px;
}

.ordered-services-custom-table-divider-color-healthcare {
  border-color: var(--secondary-color) !important;
}

.ordered-services-custom-table-divider-color-subject {
  border-color: var(--primary-color) !important;
}

.ordered-services-custom-table-accordion-header {
  border: 1px solid #ccc;
}

.ordered-services-custom-table-accordion-header-bottom {
  border-bottom: 1px solid #ccc;
}

.ordered-services-custom-table-subject-service {
  background-color: var(--primary-color);
  span {
    color: var(--white-color);
  }
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ordered-services-custom-table-healthcare-service {
  background-color: var(--secondary-color);
  span {
    color: var(--white-color);
  }
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ordered-services-custom-table-healthcare-service-opacity {
  background-color: rgba(73, 69, 79, 0.2);
  span {
    color: var(--black-color);
  }
}

.ordered-services-custom-table-subject-service-opacity {
  background-color: rgba(212, 175, 55, 0.2);
  span {
    color: var(--black-color);
  }
}
