.warning-notification-icon {
  color: red;
  vertical-align: bottom;
}

.warning-notification-text {
  padding: 0 10px;
  text-align: center;
}

.warning-notification-highlight {
  background-color: var(--secondary-color);
  color: white;
  border: 0px;
  cursor: pointer;
}

.warning-notification-bg {
  background-color: var(--secondary-color);
  padding: 14px;
  border-radius: 4px;
}

::ng-deep .mdc-snackbar__label {
  padding: 0px;
}

::ng-deep .mat-mdc-snackbar-surface {
  padding-right: 0px;
}
