<div class="flex flex-col justify-center items-center gap-[16px] w-full">
  <h2 class="font-medium">Odhlásiť z podujatia</h2>
  <p class="text-xs text-center m-0">
    Ak sa chcete odhlásiť z podujatia môžete tak urobiť v časti Správa registrácií.
    Odhlásenie z podujatia nemá vplyv na rozsah objednaných služieb a s tým spojenú povinnosť zaplatiť aj nevyužité
    služby.
  </p>
  <button color="primary" mat-flat-button (click)="openPhone()">
    <mat-icon svgIcon="phone" class="!w-[20px] !h-[20px]"></mat-icon>
    <span class="text-xs">+421 950 666 565</span>
  </button>
</div>