<div class="flex flex-col main-content representative-register-main-box">
  <summeet-title-overlay *ngIf="isPartner" [title]="'Vytvorenie účtu <br> subjektu na úseku farmácie'"
    class="animation-from-top"></summeet-title-overlay>
  <summeet-title-overlay *ngIf="!isPartner" [title]="'Vytvorenie účtu <br> externého subjektu'"
    class="animation-from-top"></summeet-title-overlay>

  <div class="flex flex-1 justify-center items-start">
    <div class="flex flex-row w-[60%] lt-md:flex-col lt-md:w-[90%]">
      <div class="flex justify-center items-center w-[100%] h-[100%] representative-register-card-stepper-wrapper">
        <mat-stepper [orientation]="isLinear ? 'vertical' : 'horizontal'" linear #stepper labelPosition="bottom"
          ngClass="{{ 'last-edited-step-' + stepper.selectedIndex }}" class="flex w-[100%] h-[100%] max-w-[700px]">
          <!-- 1 step - email -->
          <mat-step [stepControl]="email">
            <ng-template matStepLabel>Email</ng-template>
            <div class="flex flex-col justify-center items-center w-[100%] h-[100%]">
              <h3>Email</h3>
              <p class="text-xs text-center m-0">Zadajte váš pracovný email.</p>
            </div>
            <div class="flex flex-row justify-center items-center w-full mt-[32px]">
              <!-- Email -->
              <mat-form-field class="flex w-[60%] h-[100%] max-w-[500px]">
                <mat-label>Email</mat-label>
                <input [formControl]="email" matInput autocomplete="email" required="true" />
                <mat-error *ngIf="email.errors?.['required']">Email je povinný údaj
                </mat-error>
                <mat-error *ngIf="email.errors?.['incorrectEmail']">
                  E-mail nemá platný formát
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Buttons -->
            <div class="flex flex-row justify-center items-center w-[100%] h-[100%]">
              <div matTooltip="Formulár obsahuje chyby" [matTooltipDisabled]="email.valid">
                <button mat-flat-button (click)="checkEmail()" [disabled]="!email.valid" type="button" color="accent"
                  class="!rounded">
                  <span>ĎALEJ</span>
                </button>
              </div>
            </div>
          </mat-step>
          <!-- 2 step - password -->
          <mat-step [stepControl]="passwordForm">
            <ng-template matStepLabel>Heslo</ng-template>
            <div class="flex flex-col justify-center items-center w-[100%] h-[100%]">
              <h3>Heslo</h3>
              <p class="text-xs text-center m-0"> Heslo musí mať aspoň 6 znakov. Musí obsahovať 1 veľké a 1 malé písmeno
                a 1 číslicu.</p>
            </div>
            <div class="flex flex-row justify-center items-center w-full mt-[32px]">
              <form [formGroup]="passwordForm" class="flex flex-col w-full">
                <div class="flex flex-row gap-[16px] w-[100%] lt-md:flex-col lt-md:gap-[0px]">
                  <!-- Password -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Heslo</mat-label>
                    <input formControlName="password" autocomplete="new-password" matInput
                      [type]="hidePassword ? 'password' : 'text'" required="true" />
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                      {{ hidePassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                    <mat-error *ngIf="passwordForm.controls['password'].errors?.['required']">Nie je zadané heslo
                    </mat-error>
                    <mat-error *ngIf="passwordForm.controls['password'].errors?.['pattern']">
                      Heslo musí byť dlhé aspoň 6 znakov a musí obsahovať aspoň 1 veľké, 1 malé písmeno a 1 číslicu
                    </mat-error>
                  </mat-form-field>

                  <!-- Password confirmation -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Potvrdenie hesla</mat-label>
                    <input formControlName="confirmPassword" autocomplete="new-password"
                      [type]="hideConfirmPassword ? 'password' : 'text'" matInput required="true" />
                    <mat-error *ngIf="passwordForm.controls['confirmPassword'].errors?.['required']">
                      Nie je zadané potvrdenie hesla
                    </mat-error>
                    <mat-error *ngIf="passwordForm.controls['confirmPassword'].errors?.['notEqual']">
                      Heslá sa nezhodujú
                    </mat-error>
                    <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">
                      {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                  </mat-form-field>
                </div>
              </form>
            </div>
            <!-- Buttons -->
            <div class="flex flex-row justify-between items-center gap-[16px] mt-[32px] lt-md:flex-col">
              <button mat-flat-button matStepperPrevious color="accent" type="button" class="!rounded">
                <span>SPÄŤ</span>
              </button>
              <div matTooltip="Formulár obsahuje chyby" [matTooltipDisabled]="passwordForm.valid">
                <button mat-flat-button matStepperNext color="accent" [disabled]="!passwordForm.valid" class="!rounded">
                  <span>ĎALEJ</span>
                </button>
              </div>
            </div>
          </mat-step>

          <!-- Step 3 - Personal data -->
          <mat-step [stepControl]="personalDataForm">
            <ng-template matStepLabel>Osobné údaje</ng-template>
            <div class="flex flex-col justify-center items-center w-[100%] h-[100%]">
              <h3>Osobné údaje</h3>
              <p class="text-xs text-center m-0">Zadané osobné údaje slúžia na plnenie zmluvných povinností voči
                príslušným subjektom. </p>
            </div>
            <form [formGroup]="personalDataForm" class="flex flex-col mt-[32px]" (submit)="onSubmit()">
              <div class="flex flex-col justify-center items-center gap-[6px]">
                <div class="flex flex-row gap-[16px] w-[100%] h-[100%] lt-md:flex-col lt-md:gap-[0px]">
                  <!-- Titles before name -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Titul pred menom</mat-label>
                    <mat-select [formControl]="titlesBeforeNameControl" multiple>
                      <mat-select-trigger>
                        <ng-container *ngFor="let title of titlesBeforeNameControl.value">
                          <mat-chip color="primary" class="mat-chip-border">
                            {{ title }}
                            <mat-icon matChipRemove (click)="removeTitlesBeforeName(title)">close</mat-icon>
                          </mat-chip>
                        </ng-container>
                      </mat-select-trigger>

                      @for (titles of titlesBeforeNameOptions; track $index) {
                      <mat-option class="!text-sm" [value]="titles.shortTitle">
                        {{ titles.shortTitle }}
                      </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>

                  <!-- Titles after name -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Titul za menom</mat-label>
                    <mat-select [formControl]="titlesAfterNameControl" multiple>
                      <mat-select-trigger>
                        <ng-container *ngFor="let title of titlesAfterNameControl.value">
                          <mat-chip color="primary" class="mat-chip-border">
                            {{ title }}
                            <mat-icon matChipRemove (click)="removeTitlesAfterName(title)">close</mat-icon>
                          </mat-chip>
                        </ng-container>
                      </mat-select-trigger>

                      @for (titles of titlesAfterNameOptions; track $index) {
                      <mat-option class="!text-sm" [value]="titles.shortTitle">
                        {{ titles.shortTitle }}
                      </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="flex flex-row gap-[16px] w-[100%] h-[100%] lt-md:flex-col lt-md:gap-[0px]">
                  <!-- First name -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Krstné meno</mat-label>
                    <input formControlName="firstName" matInput autocomplete="given-name" />
                    <mat-error *ngIf="personalDataForm.controls['firstName'].errors?.['required']">
                      Krstné meno je povinný údaj
                    </mat-error>
                  </mat-form-field>

                  <!-- Last name -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Priezvisko</mat-label>
                    <input formControlName="lastName" matInput autocomplete="family-name" />
                    <mat-error *ngIf="personalDataForm.controls['lastName'].errors?.['required']">
                      Priezvisko je povinný údaj
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="flex flex-row gap-[16px] w-[100%] h-[100%] lt-md:flex-col lt-md:gap-[0px]">

                  <!-- Birth date -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Dátum narodenia</mat-label>
                    <input matInput formControlName="dateOfBirth" [matDatepicker]="dateOfBirthPicker"
                      (click)="dateOfBirthPicker.open()" [matDatepickerFilter]="ageFilter" />
                    <mat-datepicker-toggle matIconSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
                    <mat-datepicker #dateOfBirthPicker [startAt]="startDate"></mat-datepicker>
                  </mat-form-field>

                  <!-- Gender -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Pohlavie</mat-label>
                    <mat-select formControlName="gender">
                      @for (gender of genders; track gender.value) {
                      <mat-option class="!text-sm" [value]="gender.value">{{
                        gender.viewValue
                        }}</mat-option>
                      }
                    </mat-select>
                    <mat-error *ngIf="personalDataForm.controls['gender'].errors?.['required']">
                      Pohlavie je povinný údaj
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="flex flex-row gap-[16px] w-[100%] h-[100%] lt-md:flex-col lt-md:gap-[0px]">
                  <!-- Street -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Ulica bydliska</mat-label>
                    <input formControlName="street" matInput autocomplete="address-line1" />
                    <mat-error *ngIf="personalDataForm.controls['street'].errors?.['required']"> Ulica je povinný údaj
                    </mat-error>
                  </mat-form-field>

                  <!-- Street number -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Číslo ulice bydliska</mat-label>
                    <input formControlName="streetNumber" matInput />
                    <mat-error *ngIf="personalDataForm.controls['streetNumber'].errors?.['required']">
                      Číslo ulice je povinný údaj
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="flex flex-row gap-[16px] w-[100%] h-[100%] lt-md:flex-col lt-md:gap-[0px]">
                  <!-- Zipcode -->
                  <mat-form-field class="max-w-full">
                    <mat-label>PSČ a mesto bydliska</mat-label>
                    <mat-icon matPrefix>place</mat-icon>
                    <input matInput #zipCodeInputNative formControlName="zipCode"
                      [matAutocomplete]="zipCodeSuggestionsAuto" />
                    <mat-error *ngIf="personalDataForm.controls['zipCode'].errors?.['required']">
                      PSČ je povinný údaj
                    </mat-error>
                    <mat-autocomplete #zipCodeSuggestionsAuto="matAutocomplete"
                      (optionSelected)="onZipCodeSelected($event)" [displayWith]="displaySelectedZipCode.bind(this)">
                      <mat-option *ngFor="let option of zipCodeSuggestions" [value]="option" class="!text-sm">
                        {{ option.name + ', ' + option.zipCode }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <!-- Phone -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Telefónne číslo</mat-label>
                    <input formControlName="telephone" matInput autocomplete="tel" />
                    <mat-error *ngIf="personalDataForm.controls['telephone'].errors?.['required']">
                      Telefonné číslo je povinný údaj
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <!-- Buttons -->
              <div class="flex flex-row justify-between items-center gap-[16px] mt-[32px] lt-md:flex-col">
                <button mat-flat-button matStepperPrevious color="accent" type="button" class="!rounded">
                  <span>SPÄŤ</span>
                </button>
                <div matTooltip="Formulár obsahuje chyby" [matTooltipDisabled]="personalDataForm.valid">
                  <button mat-flat-button matStepperNext color="accent" [disabled]="!personalDataForm.valid"
                    class="!rounded">
                    <span>ĎALEJ</span>
                  </button>
                </div>
              </div>
            </form>
          </mat-step>

          <!-- Step 4 - Subject data -->
          <mat-step [stepControl]="legalPersonForm">
            <ng-template matStepLabel>Údaje o subjekte</ng-template>
            <div class="flex flex-col justify-center items-center w-[100%] h-[100%]">
              <h3 class="text-center">Údaje o subjekte</h3>
              <p class="text-xs text-center m-0">Vyberte krajinu, v ktorej sa nachádza sídlo subjektu a následne zadajte
                potrebné údaje.</p>
            </div>
            <div class="flex flex-col justify-center items-center w-[100%] h-[100%]">
              <h3 class="text-center">Sídlo subjektu</h3>
              <div class="flex flex-row justify-center gap-[16px]">
                <!-- Slovakia -->
                <mat-card [ngClass]="{'representative-register-selected':  currentState === 1}"
                  class="flex w-[140px] h-[140px] representative-register-mat-card summeet-mat-card !p-0"
                  (click)="toggleStates(1)">
                  <mat-card-content class="h-full">
                    <div class="flex flex-col items-center justify-between gap-[16px]">
                      <mat-icon class="representative-register-big-icon" svgIcon="sk"></mat-icon>
                      <span class="text-center text-xs">Slovenská republika</span>
                    </div>
                  </mat-card-content>
                </mat-card>
                <!-- Czech Republic -->
                <mat-card [ngClass]="{'representative-register-selected':  currentState === 2}"
                  class="flex w-[140px] h-[140px] representative-register-mat-card summeet-mat-card !p-0"
                  (click)="toggleStates(2)">
                  <mat-card-content class="h-full">
                    <div class="flex flex-col items-center justify-between gap-[16px]">
                      <mat-icon class="representative-register-big-icon" svgIcon="cz"></mat-icon>
                      <span class="text-center text-xs">Česká republika</span>
                    </div>
                  </mat-card-content>
                </mat-card>
                <!-- Others -->
                <mat-card [ngClass]="{'representative-register-selected':  currentState === 3}"
                  class="flex w-[140px] h-[140px] representative-register-mat-card summeet-mat-card !p-0"
                  (click)="toggleStates(3)">
                  <mat-card-content class="h-full">
                    <div class="flex flex-col items-center justify-between gap-[16px]">
                      <mat-icon class="representative-register-big-icon" svgIcon="flag-solid"></mat-icon>
                      <span class="text-xs">Iná</span>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <!-- Is VAT payer for CZ -->
            <h3 *ngIf="currentState === 2" class="text-center animation-from-top">Som platcom DPH</h3>
            <div *ngIf="currentState === 2"
              class="flex flex-row justify-center representative-register-toggle-buttons gap-[32px] animation-from-top">
              <mat-card [ngClass]="{'representative-register-selected':  czActiveButton === 1}"
                class="flex w-[140px] h-[140px] representative-register-mat-card summeet-mat-card"
                (click)="toggleCzButton(1)">
                <mat-card-content class="h-full">
                  <div class="flex flex-col items-center justify-between gap-[16px]">
                    <mat-icon class="representative-register-big-icon" svgIcon="check-solid"></mat-icon>
                    <span class="text-xs">ÁNO</span>
                  </div>
                </mat-card-content>
              </mat-card>
              <!-- Not interested -->
              <mat-card [ngClass]="{'representative-register-ban-selected': czActiveButton === 2}"
                class="flex w-[140px] h-[140px] representative-register-mat-card summeet-mat-card"
                (click)="toggleCzButton(2)">
                <mat-card-content class="h-full">
                  <div class="flex flex-col items-center justify-between gap-[16px]">
                    <mat-icon class="representative-register-big-icon-ban" svgIcon="ban-solid"></mat-icon>
                    <span class="text-xs">Nie</span>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <form *ngIf="currentState === 1 || currentState === 3 || czActiveButton" [formGroup]="legalPersonForm"
              class="mt-[32px] animation-from-top">
              <div class="flex flex-col gap-[6px]">
                <!-- Country select -->
                <div *ngIf="currentState === 3">
                  <mat-form-field *ngIf="isCountriesVisible$ | async" class="max-w-full">
                    <mat-label>Krajina</mat-label>
                    <input matInput #countryInputNative formControlName="country"
                      [matAutocomplete]="medicalExpertiseAuto" />
                    <mat-icon [svgIcon]="currentFlag" matPrefix></mat-icon>
                    <mat-error *ngIf="legalPersonForm.controls['country'].errors?.['required']">
                      Krajina je povinný údaj
                    </mat-error>
                    <mat-error *ngIf="legalPersonForm.controls['country'].errors?.['isDirty']">
                      Vyberte zo zoznamu
                    </mat-error>
                    <mat-autocomplete #medicalExpertiseAuto="matAutocomplete"
                      (optionSelected)="onMedicalExpertiseSelected($event)"
                      [displayWith]="displaySelectedMedicalExpertise.bind(this)">
                      <mat-option *ngFor="let option of countriesSuggestions" [value]="option" class="!text-sm">
                        <mat-icon class="mr-[8px]" svgIcon="{{ option.displayName }}"></mat-icon>
                        <span>{{ option.officialNameSk }}</span>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div *ngIf="currentState === 1 || czActiveButton || isCountrySelected"
                  class="flex flex-row gap-[16px] lt-md:flex-col lt-md:gap-[0px]">
                  <!-- Company name -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Obchodné meno</mat-label>
                    <input matInput formControlName="name" [matAutocomplete]="companyNameSuggestionsAuto" />
                    <mat-error *ngIf="legalPersonForm.controls['name'].errors?.['required']">
                      Obchodné meno je povinný údaj
                    </mat-error>
                    <mat-autocomplete #companyNameSuggestionsAuto="matAutocomplete"
                      (optionSelected)="onCompanySelected($event)">
                      <mat-option *ngFor="let option of companySuggestions" [value]="option"
                        class="representative-register-mat-option">
                        <div>{{ option.name }}</div>
                        <div><small>{{ option.businessId }}</small></div>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <!-- Company businessId -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Registračné č. <span *ngIf="currentState !== 1">(ID)</span></mat-label>
                    <input matInput formControlName="businessId" [matAutocomplete]="companyBusinessIdSuggestionsAuto" />
                    <mat-error *ngIf="legalPersonForm.controls['businessId'].errors?.['required']">
                      IČO je povinný údaj
                    </mat-error>
                    <mat-autocomplete #companyBusinessIdSuggestionsAuto="matAutocomplete"
                      (optionSelected)="onCompanySelected($event)">
                      <mat-option *ngFor="let option of companySuggestions" [value]="option"
                        class="representative-register-mat-option">
                        <div>{{ option.name }}</div>
                        <div><small>{{ option.businessId }}</small></div>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div *ngIf="currentState === 1 || czActiveButton || isCountrySelected"
                  class="flex flex-row gap-[16px] lt-md:flex-col lt-md:gap-[0px]">
                  <!-- Company tax id -->
                  <mat-form-field class="max-w-full">
                    <mat-label>DIČ <span *ngIf="currentState !== 1">(TIN)</span></mat-label>
                    <input formControlName="taxId" matInput />
                  </mat-form-field>

                  <!-- Company vat -->
                  <mat-form-field class="max-w-full">
                    <mat-label>IČ-DPH <span *ngIf="currentState !== 1">(VAT)</span></mat-label>
                    <input formControlName="vat" matInput />
                  </mat-form-field>
                </div>
                <div *ngIf="currentState === 1 || czActiveButton || isCountrySelected"
                  class="flex flex-row gap-[16px] lt-md:flex-col lt-md:gap-[0px]">
                  <!-- Company street -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Ulica</mat-label>
                    <input formControlName="street" matInput />
                  </mat-form-field>

                  <!-- Company street number -->
                  <mat-form-field class="max-w-full">
                    <mat-label>Číslo</mat-label>
                    <input formControlName="streetNumber" matInput />
                  </mat-form-field>

                </div>
                <div *ngIf="currentState === 1 || czActiveButton || isCountrySelected"
                  class="flex flex-row gap-[16px] w-[100%] h-[100%] lt-md:flex-col lt-md:gap-[0px]">
                  <!-- Company zip code -->
                  <mat-form-field>
                    <mat-label>PSČ</mat-label>
                    <input formControlName="zipCode" matInput />
                  </mat-form-field>

                  <!-- Company city -->
                  <mat-form-field>
                    <mat-label>Mesto</mat-label>
                    <input formControlName="city" matInput />
                  </mat-form-field>
                </div>
                <div *ngIf="currentState === 1 || czActiveButton || isCountrySelected"
                  class="flex flex-row gap-[16px] w-[100%] h-[100%] lt-md:flex-col lt-md:gap-[0px]">
                  <!-- Company registry -->
                  <mat-form-field [ngClass]="{'max-w-full': currentState === 3}">
                    <mat-label>Registrátor</mat-label>
                    <input formControlName="registrationOffice" matInput />
                  </mat-form-field>

                  <!-- Company filler number -->
                  <mat-form-field *ngIf="currentState !== 3">
                    <mat-label>Registračné č.</mat-label>
                    <input matInput formControlName="registrationNumber" />
                  </mat-form-field>
                </div>
              </div>
            </form>
            <form *ngIf="currentState === 1 || czActiveButton || isCountrySelected" [formGroup]="agreementForm">
              <div class="flex flex-col gap-[8px] mt-[25px]">
                <mat-slide-toggle color="primary" formControlName="acreditedInformationAgreement"
                  class="participant-register-toggle">
                  <div class="ml-[16px] !text-justify">
                    <span class="text-xs">
                      Chcem byť informovaný/á o akreditovaných študijných programoch sústavného vzdelávania alebo o
                      neakreditovaných vzdelávacích aktivitách (odborných podujatiach, a pod.) organizovaných
                      spoločnosťou SUMMEET s. r. o.
                    </span>
                  </div>
                </mat-slide-toggle>
                <mat-slide-toggle class="participant-register-toggle" color="primary"
                  formControlName="newsletterAgreement">
                  <div class="ml-[16px] !mt-[4px] !text-justify">
                    <span class="text-xs">
                      Chcem odoberať newsletter.
                    </span>
                  </div>
                </mat-slide-toggle>
                <mat-slide-toggle class="participant-register-toggle" color="primary"
                  formControlName="realDataAgreement">
                  <div class="ml-[16px] !text-justify">
                    <span class="text-xs">
                      Vyhlasujem, že mnou vyplnené údaje sú pravdivé, správne a kompletné. Ak sa toto vyhlásenie
                      preukáže ako nepravdivé beriem na vedomie, že zodpovedám za škodu, ktorú sa zaväzujem bezodkladne
                      uhradiť.
                    </span>
                  </div>
                </mat-slide-toggle>
                <mat-slide-toggle class="participant-register-toggle" color="primary"
                  formControlName="personalDataAgreement">
                  <div class="ml-[16px] !text-justify">
                    <span class="text-xs">
                      Súhlasím so spracovávaním osobných údajov podľa zákona č. 18/2018 Z. z. o ochrane osobných údajov
                      a o zmene a doplnení niektorých zákonov a tým udeľujem súhlas so spracovávaním osobných údajov
                      podľa <a class="font-semibold participant-register-href-color"
                        href="https://www.summeet.sk/ochrana-osobnych-udajov/" target="_blank">Zásad spracovávania
                        osobných
                        údajov.</a>
                    </span>
                  </div>
                </mat-slide-toggle>
                <mat-slide-toggle class="participant-register-toggle" color="primary" formControlName="termsAgreement">
                  <div class="ml-[16px] !mt-[4px] !text-justify">
                    <span class="text-xs">
                      Súhlasím so <a class="font-semibold participant-register-href-color"
                        href="https://www.summeet.sk/vop" target="_blank">Všeobecnými
                        obchodnými podmienkami.</a>
                    </span>
                  </div>
                </mat-slide-toggle>
              </div>
            </form>
            <!-- Buttons -->
            <div class="flex flex-row justify-between items-center gap-[16px] mt-[32px] lt-md:flex-col">
              <button mat-flat-button matStepperPrevious color="accent" type="button" class="!rounded">
                <span>SPÄŤ</span>
              </button>
              <div matTooltip="Formulár obsahuje chyby" [matTooltipDisabled]="legalPersonForm.valid">
                <button mat-flat-button matStepperNext color="accent" (click)="onSubmit()"
                  [disabled]="!legalPersonForm.valid || !agreementForm.valid || !currentState" class=" !rounded">
                  <span>VYTVORIŤ ÚČET</span>
                </button>
              </div>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
</div>
